<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.experiment4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
<!--        <activity-->
<!--            android:name=".AppStoreHomeActivity"-->
<!--            android:label="@string/title_activity_app_store_home"-->
<!--            android:theme="@style/AppTheme.NoActionBar"></activity>-->

        <activity
            android:name=".LoginActivity"
            android:label="@string/login_home" />

        <activity
            android:name=".RegisterActivity"
            android:label="@string/register_home"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".MusicActivity"
            android:label="@string/music_player" />
        <activity
            android:name=".MusicDetailActivity"
            android:label="@string/music_detail" />

        <activity
            android:name=".HomeActivity"
            android:label="@string/home"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".AppStoreActivity"
            android:label="@string/title_activity_app_store"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>